name: Add two number Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  add-numbers:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Run Python Script
        run: |
          python add.py 10 20
